
@{ ViewData["Title"] = "Compra_Finalizada"; }

<h1>Compra_Finalizada</h1>
<div class="input-group mb-3">

    <form asp-controller="Farmacoes" asp-action="Index">
        <div class="form-group">
            <div style="text-align: center;"><button style="position: absolute;top: 5%;Left: 70%;">Regresar a Inventario</button></div>
        </div>
    </form>
</div>
<p>SU COMPRA HA SIDO REALIZADO EXITOSAMENTE :) !!!!!!!!!!!!!!</p>
