@{ ViewData["Title"] = "ErrorCantidad"; }

<h1>Error Cantidad</h1>
<div class="input-group mb-3">

    <form asp-controller="Farmacoes" asp-action="Index">
        <div class="form-group">
            <div style="text-align: center;"><button style="position: absolute;top: 5%;Left: 70%;">Agregar otro producto</button></div>
        </div>
    </form>
</div>
<p> La cantidad que ingreso se sobrepasa de la cantidad disponible</p>


